$black: #121325;
$white: #dbd9f3;
$accent: #6d6dcf;

$heading-family: "Anuphan", monospace;

$body-family: "Anuphan", monospace;
$body-weight: 400;
$body-size: 1rem;
$body-line-height: 1.5em;

$link-family: "IBM Plex Mono", monospace;
$link-weight: 600;

$content-width: 80ch;
